.Testimonials {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  color: white;
}

.left-t {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left-t > :nth-child(1) {
  color: var(--orange);
  font-weight: bold;
  text-transform: uppercase;
}

.left-t > :nth-child(2),
.left-t > :nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.left-t > :nth-child(4) {
  letter-spacing: 2px;
  line-height: 40px;
  text-align: justify;
}
.right-t {
  flex: 1 1;
  position: relative;
}

.right-t > img {
  position: absolute;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
}

.right-t > :nth-child(1) {
  background-color: transparent;
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid orange;
  top: 1rem;
  right: 9rem;
}

.right-t > :nth-child(2) {
  position: absolute;
  background: var(--planCard);
  width: 17rem;
  height: 20rem;
  top: 3rem;
  right: 7rem;
}

.arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

div > img {
  width: 1.5rem;
  cursor: pointer;
}
