.reason {
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
}

.left-r {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
}

.left-r > img {
  object-fit: cover;
}

.left-r > :nth-child(1) {
  width: 12rem;
  height: 28rem;
  grid-row: 1/3;
}

.left-r > :nth-child(2) {
  width: auto;
  height: 16rem;
  grid-column: span 2;
}

.left-r > :nth-child(3) {
  width: 14rem;
  grid-column: span 1;
}

.left-r > :nth-child(4) {
  width: 10rem;
  grid-column: span 1;
}

.right-r {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-r > span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--orange);
}

.right-r > div {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.details-r {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-r > div {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.details-r > div > img {
  width: 2rem;
}

.partners-r {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.partners-r > span {
  font-weight: normal;
  color: gray;
}

.partners-r > div {
  display: flex;
  gap: 1rem;
}

.partners-r > div > img {
  width: 2.5rem;
}

@media screen and (max-width: 768px) {
  .reason {
    flex-direction: column;
  }

  .left-r {
    grid-auto-rows: auto;
    overflow: hidden;
  }

  .left-r > :nth-child(1) {
    width: 7rem;
    height: 17rem;
  }

  .left-r > :nth-child(2) {
    height: 8rem;
  }

  .left-r > :nth-child(3) {
    height: 8rem;
  }
}
